body { 
    background-color: #2E3440;
    color: #D8DEE9;
    font-family: "Roboto Mono", "Regular";

    margin: 2%;
}

::-moz-selection { /* Code for Firefox */
    color: #2E3440;
    background: #88C0D0;
  }
  
::selection {
    color: #2E3440;
    background: #88C0D0;
  }

body::-webkit-scrollbar {
    display: none;
}

h1 {
    color: #81A1C1;
    font-weight: 700;
    
    margin: 0;
}

.top {
    font-size: 20px;
    background-color: #3B4252;
    border: solid;
    border-color: #4C566A;
    border-width: 2px;
    border-radius: 10px;

    padding: 30px;
    margin-bottom: 10px;
}

textarea {
    color: #D8DEE9;
    font-family: "Roboto Mono", "Regular";
    font-size: 15px;
    
    background-color: #3B4252;
    border: solid;
    border-color: #4C566A;
    border-width: 2px;
    border-radius: 10px;

    padding: 30px;
    margin-bottom: 10px;

    resize: none;
    outline: none;
    vertical-align: middle;
}

textarea::-webkit-scrollbar {
    display: none;
}

textarea::placeholder {
    color: #4C566A;
}

.editor {
    height: auto;
    resize: none;
    padding-bottom: 10px;

    display: inline-block;
    vertical-align: middle;
}

.name {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;

    display: inline-block;
    vertical-align: middle;
}

button{
    color: #D8DEE9;
    font-family: "Roboto Mono", "Regular";
    font-size: 15px;
    
    background-color: #3B4252;
    border: solid;
    border-color: #4C566A;
    border-width: 2px;
    border-radius: 10px;

    padding: 10px;
    margin-bottom: 10px;

    display: inline-block;
    vertical-align: middle;
}

button:hover{
    background-color: #4C566A;
    cursor:pointer;
}

.render {
    color: #D8DEE9;
    font-family: "Roboto Mono", "Regular";
    font-size: 15px;
    
    background-color: #3B4252;
    border: solid;
    border-color: #4C566A;
    border-width: 2px;
    border-radius: 10px;

    padding: 30px;
    width: 650px;
    height: 50%;
    display: inline-block;
    vertical-align: top;

    word-wrap: break-word;
}

.container{
    display: inline-block;
    vertical-align: middle;
}

dialog {
    font-size: 15px;
    color: #D8DEE9;

    background-color: #3B4252;
    border: solid;
    border-color: #4C566A;
    border-width: 2px;
    border-radius: 10px;

    width: 50%;
    height: 50%;
    padding: 30px;
    align-self: center;

    outline: none;
}

dialog::backdrop {
    background-color: #2E3440;
    opacity: 0.7;
}

dialog::-webkit-scrollbar {
    display: none;
}


/* The rest of this css file is for rendering*/

strong{
    color: #81A1C1;
}

a{
    text-decoration: none;
    color: #BF616A;
    border: solid;
    border-color: #BF616A;
    border-width: 2px;
    border-radius: 10px;

    padding: 3px;
}

.buttonLink{
    border: none;
    padding: none;
}

img{
    border: solid;
    border-color: #4C566A;
    border-width: 2px;
    border-radius: 10px;
    width: 600px;
}

blockquote {
    background-color: #3B4252;
    border: solid;
    border-color: #B48EAD;
    border-width: 2px;
    border-radius: 10px;

    padding-left: 15px;
}

li::marker {
    content: '● ';
    color: #A3BE8C;
}

code {
    background-color: #2E3440;
    border: solid;
    border-color: #4C566A;
    border-width: 2px;
    border-radius: 10px;
    padding: 5px;
}

table{
    background-color: #4C566A;
    border: solid;
    border-color: #2E3440;
    border-width: 2px;
    border-radius: 10px;
}

th {
    padding: 10px;
}

td {
    padding: 10px;
}

.katex-display {
    border: solid;
    border-color: #4C566A;
    border-width: 2px;
    border-radius: 10px;

    padding: 10px;
}

.mermaid { 
    background-color: #4C566A;
    border: solid;
    border-color: #2E3440;
    border-width: 2px;
    border-radius: 10px;

    text-align: center;
}

.icon{
    display: inline-block;
    color: #EBCB8B;
}

.hashtag{
    text-decoration: none;
    color: #BF616A;
    border: solid;
    border-color: #BF616A;
    border-width: 2px;
    border-radius: 10px;

    padding: 3px;
    width: auto;
    display: inline;
}

hr {
    background-color:#4C566A;
    outline: none;
    border: none;
    border-radius: 10px;
    
    height: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}

iframe {
    border: solid;
    border-color: #4C566A;
    border-width: 2px;
    border-radius: 10px;
    width: 600px;
}